.container {
    padding: 0 2rem;
  }
  .standardComponent {
    /* From https://css.glass */
    color: white;
    background: rgba(244, 244, 244, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(244, 244, 244, 0.3);
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    margin: 10px;
  }
  .standardTitle {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    font-size: 18pt;
  }
  .standardText {
    padding: 10px;
  }
  .main {
    min-height: calc(100vh - 195px);
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
  }